<div class="container">
    <div class="row">
        <div class="d-flex aligin-items-center">
            <h1 class="p-3 md-10 bg-secondary text-white">投稿編集</h1>
        </div>
    </div>
    
    <%= form_with model: @post, url: post_path(@post), method: :patch do |f| %>
    <div class="form-group">
        <label for="category">カテゴリー</label>
        <%= f.collection_select(:category_id, current_user.category, :id, :category_name) %>
    </div>
    <div class="form-group">
        <label for="start_time">学習開始時刻</label>
        <%= f.datetime_select :start_time, class: "form-control start_time" %>
    </div>
    <div class="form-group">
        <label for="finish_time">学習終了時刻</label>
        <%= f.datetime_select :finish_time, class: "form-control finish_time" %>
    </div>
    <div class="form-group">
        <label for="check">振り返り</label>
        <%= f.text_area :check, class: "form-control check" %>
    </div>
    <div class="form-group">
        <%= f.submit '更新を保存', class: "btn btn-secondary" %>
    </div>
    <% end %>
</div>