<div class="container">
    <div class="row">
        <div class="d-flex aligin-items-center">
            <h1 class="p-3 md-10 bg-secondary text-white">学習を投稿する</h1>
        </div>
    </div>
    
    <%= form_with model: @post, url: posts_path, mehod: :post do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= hidden_field :category_name, value: @post %>
    <div class="form-group">
        <label for="category">カテゴリー</label>
        <%= f.select :category_id, options_from_collection_for_select(current_user.categories, :id, :category_name), class: "form-control" %>
    </div>
    <div class="form-group">
        <label for="start_time">学習開始時刻</label>
        <%= f.datetime_select :start_time, class: "form-control start_time" %>
    </div>
    <div class="form-group">
        <label for="finish_time">学習終了時刻</label>
        <%= f.datetime_select :finish_time, class: "form-control finish_time" %>
    </div>
    <div class="form-group">
        <label for="check">振り返り</label>
        <%= f.text_area :check, class: "form-control check" %>
    </div>
    <div class="form-group">
        <%= f.submit '学習を記録', class: "btn btn-secondary" %>
    </div>
    <% end %>
</div>