<div class="container">
    <div class="row">
        <div class="d-flex aligin-items-center">
            <h1 class="p-3 md-10 bg-default text-dark">
                <%= @post.user.account_name %> さんの学習ログ
            </h1>
        </div>
    </div>
    <div class="card-list-container py-10">
        <div class="card w-100 mx-auto mt-4 shadow-lg">
            <div class="card-body">
                <div class="row">
                    <div class="col-2">
                        <%= link_to user_path(@post.user.id) do %>
                        <%= image_tag @post.user.get_profile_image, height: "80", class: "mt-3 rounded-circle"; %>
                        <% end %>
                    </div>
                    <div class="col-10">
                        <p class="card-title">
                            <strong><i class="fas fa-flag"></i><span><%= @post.user.account_name %> さんの学習ログ</span></strong>
                        </p>
                        <p class="blog-post-meta text-right"><%= @post.created_at.strftime('%m月%d日') %></p>
                        <p>学習時間： <%= @post.start_time.strftime('%m月%d日%H時%M分') %>　～　<%= @post.finish_time.strftime('%m月%d日%H時%M分') %></p>
                        <p class="blog-post-meta"><%= ((@post.finish_time-@post.start_time)/60).to_i %> 分</p>
                        <p class="card-text">カテゴリー: <%= @post.category.category_name %></p>
                        <span><i class="fas fa-user"></i><%= @post.user.account_name %></span>
                        <p><%= @post.check %></p>
                        <% if @post.user == current_user %>
                          <%= link_to "編集する", edit_post_path(@post.id), class: "glyphicon glyphicon-pencil btn btn-info" %>
                          <%= link_to "削除する", post_path(@post.id), method: :delete, class: "glyphicon glyphicon-pencil btn btn-danger" %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div>
        コメント件数: <%= @post.comments.count %>
    </div>
    <% @post.comments.each do |comment| %>
    <div>
        <%= comment.user.account_name %>
        <%= comment.created_at.strftime('%Y/%m/%d') %>
        <%= comment.comment %>
        <% if comment.user == current_user %>
          <%= link_to "削除", post_comments_path(comment.post, comment), method: :delete %>
        <% end %> 
    </div>
    <% end %>
    
    <%= form_with model: [@post, @comment] do |f| %>
    <div class="form-group">
        <label for="comment">コメントする</label>
        <%= f.text_area :comment, class: "form-control comment" %>
    </div>
    <div class="form-group">
        <%= f.submit "送信する", class: "btn btn-secondary" %>
    </div>
    <% end %>
    
    <% if @post.favorited_by?(current_user) %>
    <div>
        <%= link_to post_favorites_path(@post), method: :delete do %>
        ♥ <%= @post.favorites.count %>　いいね
        <% end %>
    </div>
    <% else %>
    <div>
        <%= link_to post_favorites_path(@post), method: :post do %>
        ♡ <%= @post.favorites.count %> いいね
        <% end %>
    </div>
    <% end %>
        
    <% @post.favorites.each do |favorite| %>
    <div>
        <%= favorite.user.account_name %>    
    </div>
    <% end %>
</div>