<!DOCTYPE html>
<html>
  <head>
    <title>Visualizestudy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://kit.fontawesome.com/1b2f943c3c.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
          <a class="navbar-brand" href="/"><%= image_tag 'びじゅすた.png', height: "50" %>
            <span>びじゅすた</span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if admin_signed_in? %>
              <li class="nav-item">
                <%= link_to admin_root_path, class: "btn btn-link" do %>
                <i class="fa-solid fa-shop" style="color: white;"></i>
                <span class="icon-name text-light">タイムライン</span>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to admin_users_path, class: "btn btn-link" do %>
                <i class="fa-regular fa-user" style="color: white;"></i>
                <span class="icon-name text-light">会員一覧</span>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_admin_session_path, method: :delete, class: "btn btn-link" do %>
                <i class="fas fa-sign-out-alt" style="color: white;"></i>
                <span class="icon-name text-light">ログアウト</span>
                <% end %>
              </li>
              <% elsif user_signed_in? %>
              <li class="nav-item">
                <%= link_to user_path(current_user), class: "btn btn-link" do %>
                <i class="fas fa-users" style="color: white;"></i>
                <span class="icon-name text-light">マイページ</span>
                <% end %>
              </li>
              <li>
                <%= link_to posts_path, class: "btn btn-link" do %>
                <i class="fa-solid fa-shop" style="color: white;"></i>
                <span class="icon-name text-light">タイムライン</span>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_user_session_path, method: :delete, class: "btn btn-link" do %>
                <i class="fas fa-sign-out-alt" style="color: white;"></i>
                <span class="icon-name text-light">ログアウト</span>
                <% end %>
              </li>
              <% else %>
              <li class="nav-item">
                <%= link_to new_user_registration_path, class: "btn btn-link" do %>
                <i class="fas fa-user-plus" style="color: white;"></i>
                <span class="icon-name text-light">新規登録</span>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_session_path, class: "btn btn-link" do %>
                <i class="fas fa-sign-in-alt" style="color: white;"></i>
                <span class="icon-name text-light">ログイン</span>
                <% end %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
